* {
  margin: 0;
  padding: 0;
}
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.3);
  width: 23%;
  height: 100%;
  border-radius: 25px;
  position: relative;
  right: 50px;
  padding: 0 40px;
  font-size: 100%;
}



h2 {
  font-weight: 800;
}

@keyframes moveLeftRight {
  0% {
    right: 0;
  }
  50% {
    right: calc(100% - 110px);
  }
  100% {
    right: 0;
  }
}
span {
  font-family: "MedievalSharp", cursive;
  width: 50px;
  height: 50px;
  position: relative;
  animation: moveLeftRight 1.5s linear infinite;
}

img {
  width: 50px;
  height: 38px;
}
.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(25px);
  border-radius: 25px;
  overflow: hidden;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
  width: 60%;
  height: 8%;
  border-radius: 25px;
  position: fixed;
  top: 20px;
  left: 35%;
  transform: translate(-50%);
}

.navbarLinks a {
  display: flex;
  text-decoration: none;
  align-items: center;
  gap: 5px;
}
ul li {
  list-style: none;
  position: relative;
}
ul li a::before{
  content: '';
  width: 0px;
  height: 5px;
  background: #ffffff;
  position: absolute;
  top: 100%;
  left: 0;
  transition: 0.5s;
}
ul li:hover a:before{
  width: 50%;
  transform: translateX(100%);

}

.navbarLinks ul {
  display: grid;
  grid-template-columns: repeat(4,auto);
  grid-gap: 40px;
  font-size: 1.2rem;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.navbarLinks a{
  text-decoration: none;
  color: aliceblue;
  font-weight: 700;
}


