body,
html {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
}

video {
  object-fit: cover;
  width: 120%;
  height: 100%;
  position: fixed;
  z-index: -1;
}
.dark-overlay {
  position: absolute;
  width: 50%;
  height: 100%;
  background-color: rgba(
    0,
    0,
    0,
    0.3
  ); /* Adjust the alpha value (last value) to change darkness */
}

.getStartButton {
  position: absolute;
  top: 85%;
  right: 44%;
  width: 13%;
  height: 8.5%;
  font-size: 25px;
  font-weight: 500;
  font-family: fantasy;
  background-color: white;
  color: black;
  border: 3px solid white;
  cursor: pointer;
  letter-spacing: 1px;
}

.locationButton {
  position: absolute;
  top: 85%;
  left: 56%;
  width: 13%;
  height: 8.5%;
  font-size: 25px;
  font-weight: 500;
  font-family: fantasy;
  background-color: transparent;
  color: black;
  border: 3px solid white;
  cursor: pointer;
  letter-spacing: 1px;
}

@keyframes buttonAnimation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}

.getStartButton:hover {
  animation: buttonAnimation 1s infinite;
}

.locationButton:hover {
  animation: buttonAnimation 1s infinite;
}

.main-snippet {
  position: absolute;
  top: 20%;
  left: 3%;
}

h1 {
}
@keyframes slideInBottom {
  from {
    transform: translateY(300px);
  }
  to {
    transform: translateY(0);
  }
}
.h1-1 {
  font-size: 100px;
  font-weight: 900;
  letter-spacing: -6px;
  padding-inline-end: 2px;
  background: linear-gradient(to right, #0580cdea 5%, #022651 70%);
  -webkit-background-clip: text;
  color: transparent;
  font-family: "Cantata One", serif;
  text-transform: uppercase;

  animation: slideInBottom 0.3s ease-in 0.1s 1 normal none;
}
.h1-2 {
  font-size: 100px;
  font-weight: 900;
  letter-spacing: -6px;
  background: linear-gradient(to right, #0580cdea 5%, #022651 70%);
  -webkit-background-clip: text;
  color: transparent;
  font-family: "Cantata One", serif;
  text-transform: uppercase;

  animation: slideInBottom 0.3s ease-in 0.2s 1 normal none;
}
.h1-3 {
  display: flex;
  font-size: 100px;
  font-weight: 900;
  letter-spacing: -6px;
  background: linear-gradient(to right, #0580cdea 5%, #022651 70%);
  -webkit-background-clip: text;
  color: transparent;
  font-family: "Cantata One", serif;
  text-transform: uppercase;

  animation: slideInBottom 0.3s ease-in 0.3s 1 normal none;
}

h3 {
  font-size: 45px;
  font-weight: 900;
  position: absolute;
  background: rgb(113, 107, 107);
  -webkit-background-clip: text;
  color: transparent;
  font-family: "Stylish", serif;
  top: 100%;
  animation: slideInBottom 0.3s ease-in 0.4s 1 normal none;
}

.lowpx-snippet {
  display: none;
}

@media (max-width: 815px) {
  .getStartButton {
    transform: scale(0.8);
    width: 20%;
  }

  .locationButton {
    transform: scale(0.8);
    width: 20%;
  }
  .lowpx-snippet {
    display: none;
  }
}

@media (max-width: 398px) {
  h1 {
    font-size: 70px;
    text-align: center;
  }
  h3 {
    font-size: 35px;
  }
  .main-snippet {
    position: absolute;
    top: 20%;
    left: -0.5%;
    justify-content: center;
  }
}

@media (max-width: 558px) {
  .getStartButton {
    width: 150px;
  }

  .locationButton {
    width: 150px;
  }
  .getStart {
    justify-content: space-between;
  }
}
